.proj-img {
  height: 300px;
}

.back-new {
  background-color: rgb(88, 88, 237);
}

/* .back-new:hover {
} */

.bigger {
  font-size: 1.3em;
  margin-left: 15px;
  margin-top: 15px;
}

.contant-section {
  background-color: rgb(33, 208, 252);
}

.block {
  display: block;
}
